DATABASE_URL=postgresql+psycopg://wr_wh_leads:CHANGE_ME_DB_PASSWORD@127.0.0.1:5432/wr_wh_leads_prod

# Задай длинный случайный AUTH_SECRET 
AUTH_SECRET=

# Webhook
WEBHOOK_SECRET=

# Google Sheets credentials
GOOGLE_CREDENTIALS_FILE=credentials/sheets-data-bot-b8f4cc6634fc.json

#ТЕСТ Выгрузка по конкурентам
GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=