fastapi==0.120.2
uvicorn==0.38.0
sqlalchemy==2.0.44
pydantic==2.12.3
python-dotenv==1.2.1
requests==2.32.5
google-api-python-client==2.151.0
google-auth==2.43.0
tzdata==2024.1
openpyxl==3.1.5
bcrypt==4.2.0
PyJWT==2.9.0
slowapi==0.1.9
psycopg[binary]==3.3.2